.blog-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blog-post-item {
  margin: 1rem;
  box-shadow: var(
    --ds-shadow-overlay,
    0 4px 8px -2px rgba(9, 30, 66, 0.25),
    0 0 1px rgba(9, 30, 66, 0.31)
  );
  border-radius: 5px;
  width: 27rem;
}

.blog-post-item-content {
  padding: 1rem;
}

.blog-post-item-cover {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.blog-post-item-default-cover {
  background: linear-gradient(rgb(234, 230, 255), rgb(64, 50, 148));
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

.blog-pot-item .excerpt {
  margin-top: 1rem;
}

.blog-post-item .by-line {
  margin-top: 1rem;
}

.blog-post-item a {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}
