.home-page-children {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.home-page-child-item {
  margin: 1rem;
  padding: 1rem;
  box-shadow: var(
    --ds-shadow-overlay,
    0 4px 8px -2px rgba(9, 30, 66, 0.25),
    0 0 1px rgba(9, 30, 66, 0.31)
  );
  border-radius: 5px;
  width: 15rem;
  display: inline-flex;
}

.home-page-child-item a {
  color: #0052cc;
  display: block;
  text-decoration: none;
  font-size: 16px;
  margin-left: 1rem;
  line-height: initial;
}
